<p id="notice"><%= notice %></p>

<h1>Tokimon Details</h1>

<p>
  <strong>Name:</strong>
  <%= @tokimon.tname %>
</p>

<p>
  <strong>Trainer:</strong>
  <% trainer = @trainers.find(@tokimon.trainer_id) %>
  <%= trainer.tname %>
  <span class="smallbutton"><%= link_to 'View', trainer %></b>
</p>

<p>
  <strong>Weight:</strong>
  <%= @tokimon.weight %>
</p>

<p>
  <strong>Height:</strong>
  <%= @tokimon.height %>
</p>

<p>
  <strong>Type:</strong>
  <%= @tokimon.elementtype %>
</p>

<p>
  <strong>Fly:</strong>
  <%= @tokimon.fly %>
</p>

<p>
  <strong>Fight:</strong>
  <%= @tokimon.fight %>
</p>

<p>
  <strong>Fire:</strong>
  <%= @tokimon.fire %>
</p>

<p>
  <strong>Water:</strong>
  <%= @tokimon.water %>
</p>

<p>
  <strong>Electric:</strong>
  <%= @tokimon.electric %>
</p>

<p>
  <strong>Ice:</strong>
  <%= @tokimon.ice %>
</p>

<p>
  <strong>Total:</strong>
  <%= @tokimon.total %>
</p>

<b class="normalbutton"><%= link_to 'Edit', edit_tokimon_path(@tokimon) %> |</b>
<b class="normalbutton"><%= link_to 'Index', tokimons_path %></b>
