<p id="notice"><%= notice %></p>

<h1>Trainers</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Level</th>
      <th class="empty" colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% sorted = @trainers.sort_by{|trainer| trainer.tname.downcase} %>
    <% sorted.each do |trainer| %>
      <% @pets = @tokimons.select { |tokimon| tokimon.trainer_id == trainer.id } %>
      <tr>
        <td><%= trainer.tname %></td>
        <td><%= @pets.count/3+1 %></td>
        <td class="smallbutton"><%= link_to 'View', trainer %></td>
        <td class="smallbutton"><%= link_to 'Edit', edit_trainer_path(trainer) %></td>
        <td class="smallbutton"><%= link_to 'Delete', trainer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br/>

<table class="links">
  <tr>
    <td><b class="normalbutton"><%= link_to 'New Trainer', new_trainer_path %></b></td>
    <td><b class="normalbutton"><%= link_to 'View Tokimon', tokimons_path %></b></td>
  </tr>
</table>
