<p id="notice"><%= notice %></p>

<p>
  <strong>Tname:</strong>
  <%= @trainer.tname %>
</p>

<p>
  <strong>Level:</strong>
  <%= @trainer.level %>
</p>

<p>
  <strong>Tokimon:</strong>
  <% @pets.each do |pet| %>
    <%= pet.tname %><br />
  <% end %>
</p>

<%= link_to 'Edit', edit_trainer_path(@trainer) %> |
<%= link_to 'Back', trainers_path %>
