<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @trainer.tname %>
</p>

<p>
  <strong>Level:</strong>
  <%= @pets.count/3+1 %>
</p>

<p>
  <strong>Tokimon:</strong><br/>
  <% @pets.each do |pet| %>
    <%= pet.tname %><br />
  <% end %>
</p>

<%= link_to 'Edit', edit_trainer_path(@trainer) %> |
<%= link_to 'Back', trainers_path %>
