<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @trainer.tname %>
</p>

<p>
  <strong>Level:</strong>
  <%= @pets.count/3+1 %>
</p>

<p>
  <strong>Tokimon:</strong><br/>
  <% @pets.each do |pet| %>
    <%= pet.tname %>
    <span class="smallbutton"><%= link_to 'View', pet %></span>
    <br />
  <% end %>
</p>

<b class="normalbutton"><%= link_to 'Edit', edit_trainer_path(@trainer) %> |</b>
<b class="normalbutton"><%= link_to 'Index', trainers_path %></b>
